<main>
  <% if (flashMessage.error) { %>
    <h4 class="py-4 text-center bg-danger text-white">
      <%= flashMessage.error %>
    </h4>
  <% } %>
  <% if (flashMessage.success) { %>
    <h4 class="py-4 text-center bg-success text-white">
      <%= flashMessage.success %>
    </h4>
  <% } %>
  <section class="py-4 container">
    <div class="py-4">
      <h2 class="py-4 text-capitalize">
        account overview
      </h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">
              name
            </th>
            <th scope="col">
              email
            </th>
            <th class="col">
              token
            </th>
            <th scope="col">
              created at
            </th>
            <th scope="col">
              modified at
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= user.fullName %>
            </td>
            <td>
              <%= user.email %>
            </td>
            <td>
              <%= user.toLocaleDateStringCustom(user.createdAt) %>
            </td>
            <td>
              <%= user.toLocaleDateStringCustom(user.updatedAt) %>
            </td>
          </tr>
        </tbody>
      </table>
      <div>
        <a href="/user/<%= user._id %>/tasks" class="btn btn-outline-dark">
          back to tasks
        </a>
        <a href="/user/<%= user._id %>/account/edit" class="btn btn-outline-dark">
          edit account
        </a>
        <a href="/user/<%= user._id %>/account?_method=DELETE"
           class="btn btn-outline-dark"
           onclick="return confirm('are you sure you want to delete your account?')"
        >
          delete account
        </a>
      </div>
    </div>
  </section>
</main>
